[submodule "extern/flom"]
	path = extern/flom
	url = ../../BoldingBruggeman/flom.git
[submodule "extern/gotm"]
	path = extern/gotm
	url = git@github.com:gotm-model/code
[submodule "extern/python-otps2"]
	path = extern/python-otps2
	url = ../python-otps2.git
[submodule "extern/pygsw"]
	path = extern/pygsw
	url = ../pygsw.git
[submodule "extern/fabm"]
	path = extern/fabm
	url = ../../fabm-model/fabm.git
	branch = pyfabm_nd
