name: Build and test
on: push
jobs:
   gfortran:
      runs-on: ${{ matrix.os }}
      defaults:
        run:
          shell: bash -el {0}
      strategy:
        fail-fast: false
        matrix:
          os: ["ubuntu-latest"] #, "macos-latest", "windows-latest"]
          python-version: ["3.8", "3.9", "3.10", "3.11"]
      steps:
      - name: Install dependencies
        run: sudo apt-get install gfortran-9 mpich
      - name: Clone
        uses: actions/checkout@v2
        with:
           submodules: recursive
           ssh-key: ${{ secrets.BB_TESTING_SSH }}
      - name: Clone getm-setups
        run: |
          git clone https://git.code.sf.net/p/getm/getm-setups
      - uses: conda-incubator/setup-miniconda@v2
        with:
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          environment-file: environment-min.yml
          activate-environment: pygetm
      - name: Compile
        run: |
          source ./install
      - name: Run test suite
        run: |
          cd python/tests
          python -m unittest -v
          mpiexec -n 2 python test_parallel_advection.py -v
        env:
          GETM_SETUPS_DIR: ../../getm-setups
      - name: Test box with spherical coordinates
        run: |
          cd python/examples
          python box_spherical.py ../../getm-setups/box_spherical --start "2004-01-01 00:00:00" --stop "2004-01-03 00:00:00"
      - name: Test North Sea in 2D barotropic mode
        run: |
          cd python/examples
          python north_sea.py ../../getm-setups/NorthSea --stop "2006-01-04 00:00:00" --runtype 1
      - name: Test North Sea in 3D baroclinic mode
        run: |
          cd python/examples
          python north_sea.py ../../getm-setups/NorthSea --stop "2006-01-04 00:00:00"
      - name: Test North Sea restarts
        run: |
          cd python/examples
          python north_sea.py ../../getm-setups/NorthSea --stop "2006-01-04 00:00:00" --no_boundaries --no_rivers --debug_output
          mv -v north_sea_2d.nc north_sea_2d_ref.nc
          mv -v north_sea_3d.nc north_sea_3d_ref.nc
          python north_sea.py ../../getm-setups/NorthSea --stop "2006-01-03 00:00:00" --no_boundaries --no_rivers --debug_output --save_restart res.nc
          python north_sea.py ../../getm-setups/NorthSea --stop "2006-01-04 00:00:00" --no_boundaries --no_rivers --debug_output --load_restart res.nc
          pygetm-compare-nc north_sea_2d.nc north_sea_2d_ref.nc --itime1 -1 --itime2 -1 -v
          pygetm-compare-nc north_sea_3d.nc north_sea_3d_ref.nc --itime1 -1 --itime2 -1 -v
      - name: Test North Sea restarts with rivers
        run: |
          cd python/examples
          rm -fv *.nc
          python north_sea.py ../../getm-setups/NorthSea --stop "2006-01-04 00:00:00" --no_boundaries --debug_output
          mv -v north_sea_2d.nc north_sea_2d_ref.nc
          mv -v north_sea_3d.nc north_sea_3d_ref.nc
          python north_sea.py ../../getm-setups/NorthSea --stop "2006-01-03 00:00:00" --no_boundaries --debug_output --save_restart res.nc
          python north_sea.py ../../getm-setups/NorthSea --stop "2006-01-04 00:00:00" --no_boundaries --debug_output --load_restart res.nc
          #pygetm-compare-nc north_sea_2d.nc north_sea_2d_ref.nc --itime1 0 --itime2 24 -v
          #pygetm-compare-nc north_sea_3d.nc north_sea_3d_ref.nc --itime1 0 --itime2 4 -v
          pygetm-compare-nc north_sea_2d.nc north_sea_2d_ref.nc --itime1 -1 --itime2 -1 -v
          pygetm-compare-nc north_sea_3d.nc north_sea_3d_ref.nc --itime1 -1 --itime2 -1 -v
      - name: Test North Sea scaling
        run: |
          cd python/examples
          pygetm-test-scaling --nmax 4 --compare north_sea_2d.nc --compare north_sea_3d.nc north_sea.py ../../getm-setups/NorthSea --stop "2006-01-04 00:00:00"
        env:
          RDMAV_FORK_SAFE: 1
      - name: Run notebooks
        run: |
          cd python/examples
          ipython -c "%run Kelvin_wave_in_a_channel.ipynb"
